:root {
  --white: #fff;
  --black: #111;
  --main: #203040;
  --accent: #ff8000;
  --accent2: #c04000;
  --shade: #808080;
  --shade2: #404040;
  --light: #f0f0f0;
  --lighter: #f8f8f8;
  --btnPrimary: #f8b123;
}
body {
  box-sizing: border-box;
  font: 1em Helvetica;
  margin: 0;
  height: 100vh;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  height: 100%;
  width: 100%;
}

/* Global */
a {
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  color: var(--accent);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 0;
}
button {
  font-size: 1rem;
  margin: 0.2rem;
}
/* header */
.header {
  grid-area: header;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.brand button {
  color: var(--white);
  border: none;
  font-size: 1.7rem;
  padding: 0.3rem;
  background: none;
  cursor: pointer;
}
.brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}
.header-links a {
  color: var(--white);
  padding: 0 0.5rem;
}
.header-links a:hover {
  color: var(--accent);
}

/* main */
.main {
  grid-area: main;
}

/* sidebar */
.sidebar {
  position: fixed;
  transform: translateX(-22rem);
  width: 22rem;
  background: var(--light);
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.3s linear;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar .close-btn {
  padding: 0.2rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: 0.5px solid var(--black);
  font-size: 1.2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  top: 1rem;
}

/* footer */
.footer {
  grid-area: footer;
  background: var(--main);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Page */
.products {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  flex: 0 1 20rem;
  margin: 1rem;
  height: 27rem;
  border-bottom: 0.1rem solid var(--shade);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-image {
  max-width: 20rem;
  max-height: 16rem;
}
.product-name {
  font-size: 1.6rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1rem;
  color: var(--shade);
}

.product-price {
  font-size: 1.7rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}

/* details page */
.back-btn {
  padding: 0.8rem;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.8rem;
}
.details-image {
  flex: 2 1 34rem;
}
.details-image img {
  max-width: 34rem;
  height: 100%;
}
.details-info {
  flex: 1 1 17rem;
}
.details-action {
  flex: 1 1 17rem;
  border: 0.1rem solid var(--shade);
  border-radius: 0.4rem;
  background: var(--lighter);
  padding: 0.7rem;
}
.details-action ul li,
.details-info ul li {
  margin-bottom: 0.8rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 0.6rem;
  border: 0.1rem solid var(--shade);
  cursor: pointer;
  border-radius: 0.3rem;
  margin: 0.3rem;
}
.button:hover {
  border: 0.05rem solid var(--shade2);
}
.button.primary {
  background: var(--btnPrimary);
}
.button.secondary {
  background: var(--light);
}
.text-center {
  text-align: center;
}

/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 35rem;
}
.cart-actions {
  flex: 1 1 13rem;
  background: var(--light);
  border-radius: 0.5rem;
  border: 0.1rem var(--light) solid;
  padding: 0.8rem;
}
.cart-list-container {
  padding: 1rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--shade) solid;
}
.cart-list-container img {
  max-width: 7rem;
  max-height: 7rem;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 1.5rem;
  text-align: right;
}
.full-width {
  width: 100%;
}

/* Sign in page */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1.4rem;
  border: 0.1rem solid var(--light);
  border-radius: 0.3rem;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}
.form-container li input {
  padding: 0.7rem;
  border: 0.1rem solid var(--shade);
  border-radius: 0.3rem;
}

/* products page */
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-margined {
  margin: 0.7rem;
}

.table {
  width: 100%;
}
.table th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background: var(--light);
}

/* checkout steps */
.checkout-steps{
  display: flex;
  justify-content: space-between;
  margin: .7rem auto;
  width: 27rem;
}
.checkout-steps > div{
  border-top: .2rem solid var(--shade);
  color: var(--shade);
  flex: 1 1;
  padding-top: .5rem;
}
.checkout-steps > .active{
  border-top: .2rem solid var(--accent);
  color: var(--accent)
}


/* order page */
.order {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.order-info{
  flex: 3 1 35rem;
}
.order-info > div {
  background: var(--lighter);
  border-radius: 0.5rem;
  border: 0.1rem var(--light) solid;
  padding: 0.8rem;
  margin: 1rem;
}
.order-info > div:first-child{
  margin-top: 0;
}
.order-actions {
  flex: 1 1 13rem;
  background: var(--light);
  border-radius: 0.5rem;
  border: 0.1rem var(--lighter) solid;
  padding: 0.8rem;
}
.order-actions > ul {
  padding: 0;
}
.order-actions > ul > li {
  display: flex;
  justify-content: space-between;
  margin: .7rem;
}
.order-actions > ul > li:last-child {
  font-size: 1.3rem;
  color: var(--accent2);
  font-weight: bold;
}

.order-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--shade) solid;
}
.order-list-container img {
  max-width: 7rem;
  max-height: 7rem;
} 